.page2{
	min-width: 1024px;
}
.aboutCont *{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	border: 0;
}
.aboutusSro{
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
}
.aboutLogo{
	position: absolute;
	top: 0;
	left: 3.13%;
	height: 9.76%;
	width: auto;
}
.aboutTop{
	margin: 0 auto;
	padding: 5.21% 0 0 74px;
	width: 936px;
}
.aboutHistory,.aboutHisInt{
	width: 66.6%;
	font-size: 30px;
	font-family: "Microsoft YaHei","微软雅黑";
	color: #fbf5f5;
}
.aboutHistory{
	margin-bottom: 10px;
}
.aboutstuPho{
	height: 200px;
	width: auto;
	float: right;
	margin: -70px 10px 0 0;
}
.aboutbottom{
	margin: 0 auto 4.21% auto;
	padding-left: 74px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	height: 53.38%;
	width: 936px;
}
.aboutWra{
	clear:both;
	width:3072px;
	position: relative;
	left: 0px;
}
.aboutHead{
	float: left;
	position: relative;
	width: 465px;
	height: 30%;
	margin-bottom: 20px;
}
.aboutHeada{
	float: left;
}
.aboutHeadPho{
	border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;

	-webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
}
.aboutHeada:hover img{
    -ms-border-radius: 50px;
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.aboutHisInt{
	float: left;
	font-size: 14px;
	color: #fbf5f5;
	width: 68%;
	height: 30%;
}
.aboutfat{
	padding-left: 2%;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.aboutMoreOption{
    float: right;
	position: relative;
	margin: 80px 210px 0 0;
}
.aboutMore{
    float: right;
	font-size: 16px;
	font-family: "Microsoft YaHei","微软雅黑";
	color: #fbf5f5;
}
.aboutBack{
	float: right;
	font-size: 16px;
	font-family: "Microsoft YaHei","微软雅黑";
	color: #fbf5f5;
}
.aboutMore:hover{
	text-shadow:2px 2px 3px #fbf5f5;
}
.aboutBack:hover{
	text-shadow:-2px 2px 3px #fbf5f5;
}
.aboutusAngle{
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 7.40%;
	width: auto;
}