.contactPage {
	#contactLogo {
		margin: 22px 0 0 35px;
		position: absolute;
	}
	
	.contactSideArrow {
		height: 100%;
	}

	.contactInfo {
		width: 630px;
		height: 346px;
		margin: auto;
		position: absolute; left: 0; top: 35px; right: 0; bottom: 0;
		background: url('../img/contactInfoBg.png');
		
		.contactPanel {
			margin-top: 80px;
			margin-left: 50px;
			float: left;
		}

		.contactInfoList {
			margin-top: 98px;

			p {
				font-size: 30px;
				color: #908787;
				margin: 23px;

				span {
					width: 75px;
					display: inline-block;
				}
			}

			margin-left: 240px;
		}
	}

	#contactArrow {
		position: absolute; right: 54px; bottom: 95px;
	}

}

