.worksPage {
	#worksLogo {
		position: absolute; left: 35px; top: 20px; right: 0; bottom: 0;
	}
	
	.worksSideArrow {
		height: 100%;
	}

	.worksMain {
		width: 936px;
		height: 553px;
		margin: auto;
		position: absolute; left: 0; top: 95px; right: 0; bottom: 0;
		overflow: hidden;
	}

	h3, p {
		margin: 0;
	}

	.worksInfoLayer {
		display: none;
		background: #e6e6e6;
		width: 100%;
		height: 100%;

		.worksLayerContent {
			width: 936px;
			height: 550px;
			color: black;
			overflow: hidden;
			background-color: white;

			.flecheNavLeft, .flecheNavRight {
				display: inline-block;
				width: 75px;
				height: 75px;
				top: 230px;
				position: absolute;
				opacity: 0.3;
			}
			.flecheNavLeft:hover {
				opacity: 1;
			}
			.flecheNavRight:hover {
				opacity: 1;
			}
			.flecheNavLeft {
				background: url('/img/flecheNav.png');
				left: 10px;
				-webkit-transform: scale(0.8) rotate(180deg);
				-moz-transform: scale(0.8) rotate(180deg);
				-o-transform: scale(0.8) rotate(180deg);
				-ms-transform: scale(0.8) rotate(180deg);
			}
			.flecheNavRight {
				background: url('/img/flecheNav.png');
				right: 10px;
				-webkit-transform: scale(0.8);
				-moz-transform: scale(0.8);
				-o-transform: scale(0.8);
				-ms-transform: scale(0.8);
			}
			.worksInfoLayerImg {
				width: inherit;
				height: 450px;
			}

			h3, p{
				margin: 10px;
				word-break: break-word;
			}
		}
	}

	.worksItem {
		width: 230px;
		height: 282px;
		float: left;
		margin: 0 123px 0px 0;

		img {
			width: 230px;
			height: 232px;
		}

		:hover {
			cursor: pointer;
		}

		p {
			display: none;
		}
	}

	.worksItemRight {
		margin-right: 0;
	}

	.worksNav {
		// margin: 480px 150px 0 0;
		position: absolute;
		right: 142px;
		top: 480px;
	}

	.worksMore, .worksMoreLeft, .worksMoreRight, .worksLoading {
		font-size: 16px;
		font-family: "Microsoft YaHei","微软雅黑";
		color: #fbf5f5;
		text-decoration: none;
	}

	.worksMoreLeft, .worksMoreRight, .worksLoading {
		display: none;
	}

	.worksMore:hover, .worksMoreLeft:hover, .worksMoreRight:hover {
		text-shadow:2px 2px 3px #fbf5f5;
	} 

}